extends layout

block content
  h1= title
  each r in re
    h1 Unit: #{r.Unit}
    h1 Cost: #{r.Cost}
    h1 Hit_Speed: #{r.Hit_Speed}
    h1 Speed: #{r.Speed}
    h1 Deploy_Time: #{r.Deploy_Time}
    h1 Range: #{r.Range}
    h1 Target: #{r.Target}
    h1 Count: #{r.Count}
    h1 Transport: #{r.Transport}
    h1 Type: #{r.Type}
    h1 Rarity: #{r.Rarity}
    br
    hr