extends layout

block content
  h1= title
  ul
    li
      a.active(href='#home') Home
    li
      a(href='#news') News
    li
      a(href='#contact') Contact
    li
      a(href='#about') About
  each r in re
    h1 Unit: #{r.Unit}
    img(src=`/images/${r.Unit}.png`)
    a(href=`/dettagli/${r.Unit}`) Click for details of: #{r.Unit}
    br
    hr